@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@400;700&display=swap');

:root {
  --clr-primary: #fefae0;
  --clr-accent: #ccd5ae;
  --clr-yellow: #e9edc9;
  --clr-orange: #faedcd;
  --clr-red: #e76f51;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: 'Hind', sans-serif;
  font-size: 1.2rem;
  background-color: var(--clr-primary);
  margin: 0;
  padding: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

h1, h2, h3, h4 {
  font-family: 'Hind';
  margin: 0;
  padding: 0;
  text-align: center;
}

p {
  font-family: 'Hind';
  padding: 0;
  margin: 0;
}

input[type="text"] {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.section-header {
  font-size: 2.2rem;
  font-family: 'Pacifico', sans-serif;
  text-align: center;
  margin: 0 0.5em;
  padding: 0;
  color: #d4a373;
}

.section-description {
  text-align: center;
  margin: 0.6em 0;
}

.highlighted {
  color: #023047;
  font-weight: bold;
}

.main-content {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  margin: 1em 0em;
}

.form-container {
  background-color: var(--clr-accent);
  padding: 1em;
}

.patients-container {
  padding: 1em;
  background-color: var(--clr-orange);
}

.patient-card {
  background-color: var(--clr-primary);
  padding: 0.5em 1em;
  margin: 0.5em 0;
  border-radius: 1em;
}

.patient-card p {
  margin: 0.5em 0;
}

.pets-form__input-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}

.pets-form__input-label {
  font-family: 'Hind';
  text-transform: uppercase;
  font-weight: bold;
}

.pets-form__input-field {
  -webkit-appearance: none;
  appearance: none;
  font-family: 'Hind';
  font-size: 1rem;
  padding: 0.5em 1em; 
  max-width: 30rem;
  width: 90%;
  border: none;
  border-radius: 0.3em;
  border: 2px solid #FAFAFA;
}

#medicalRelease {
  height: 2.875em;
}

.pets-form__input-field:focus {
  outline: 2px solid var(--clr-red);
}

.pets-form__input-field::placeholder {
  color: #00000044;
}

.btn {
  font-size: 1rem;
  border-radius: 0.1em;
  padding: 0.5em 1em;
  width: 100%;
  border: none;
  font-family: 'Hind';
  text-transform: uppercase;
  font-weight: bold;
  margin: 1em 0;
  cursor: pointer;
}

.btn-primary {
  background-color: var(--clr-yellow);
  color: #023047;
}

.btn-primary:hover {
  background-color: #d8b660;  
}

.error {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-red);
  padding: 1em;
  border-radius: 0.1em;
  color: #f1faee;
  margin: auto;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

.error__button {
  cursor: pointer;
}

.closed {
  display: none;
}

@media (min-width: 40rem) {
  .form-container {
    border-radius: 1em;
    width: 90%;
    margin: 1em auto;
  }

  .patients-container {
    border-radius: 1em;
    width: 90%;
    margin: 1em auto;
  }

  .error {
    width: 80%;

  }
}

@media (min-width: 68rem) {
  .section-header {
    margin: auto;
    width: 66%;
  }

  .main-content {
    grid-template-columns: 1fr 1fr;
    width: 90%;
    gap: 1em;
    margin: auto;
    padding: 1em 0em;
  }

  .form-container {
    border-radius: 1em;
  }

  .patients-container {
    border-radius: 1em;
    height: 70vh;
    overflow-y: scroll;
  }

  .btn {
    width: 60%;
  }
}

